.cardDashboard{
    background: #2e44ad;
    height: 100vh;
}
.detailAccountDashboard{
    display: block;
}
.cardMenu{
    background: #354caa;
    height: 100vh;
}
.detailUser{
    display: block;
    text-align: center;
}
.cardAvatar{
    display: block;
    margin-top: 20%;
}
.editMenu{
    padding: 10px 18px;
    background: #edf0ff;
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
}
.myPicture{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    border: 2px solid #ffffff;
}
.cardGraph{
    margin: 30px;
}
.cardSaldo{
    display: block;
}
.cardSaldo h4{
    color: #ffffff;
    margin-top: 5px;
    font-weight: 400;
}
.cardName{
    display: block;
}
.cardName h4{
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.logoDashboard{
    background: rgb(31, 144, 87); 
    font-family: 'Lobster', cursive;
    color: #ffffff;
}
.logoDashboard h2{
    margin: 0px;
    text-align: center;
    padding: 20px;
}
.width10{
    width: 10%;
}
.width20{
    width: 20%;
}
.width30{
    width: 30%;
}
.width80{
    width: 80%;
}
.width70{
    width: 70%;
}
